.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.widget-recent-post-thumbnail {
    .recent-post-thumbnail-item {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 20px;
        .recent-post-img {
            max-width: 70px;
            width: 50%;
            img {
                border-radius: 5px;
            }
        }
        .recent-post-content {
            padding-left: 10px;
        }
    }
}


/* search form */    
.search-form {
    position: relative; 
}
.search-form:after{
    content: "\f002";
    position: absolute;
    font-family: 'FontAwesome';
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    @include flex-center;
}
.search-form input,
.search-form .form-comment label textarea,
.form-comment label .search-form textarea {
    padding-left: 20px;
    width: 100%;
    height: 40px;
    background-color: $color__border-input;
    border-radius: 25px;
}
.search-submit {
    position: absolute;
    max-width: 40px;
    top: 0;
    right: 0;
    font-size: 0 !important;
    border-left: none !important;
    z-index: 2;
    background: transparent !important;
}

.widget_archive,
.widget_categories,
.widget_pages,
.widget_meta,
.widget_nav_menu {
    li{
        list-style-position: inside;
        +li{
            border-top: 1px dotted #e2e2e2;
        }
        a {
            text-transform: capitalize;
            margin-right: 20px;
            font-weight: 700;
            padding: 10px 0;
            display: inline-block;
            color: #c6c6c6;
            &:hover {
                color: #000;
            }
        }
    }
    .current-cat {
        a {
            color: #000;
        }
    }

    .children{
        li{
            border-top: 1px dotted #e2e2e2;
        }
    }
}

/* Widget */

#sidebar {
    margin-top: 50px;
    float: left;
    .widget {
        margin-bottom: 45px;
    }
}

.widget-title {
    font-family: $font__main;
    font-size: 18px;
    color: $color__text-screen;
    text-transform: uppercase;
}

.tagcloud {
    a {
        padding: 5px;
        text-align: center;
        padding: 3px 23px;
        display: inline-block;
        margin: 5px 5px;
        color: #c6c6c6;
        &:hover {
            color: #000;
        }
    }
}

