$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #f9f9f9;
$color__background-button: #c3917d;
$color__background-pre: #f7e6e6;
$color__background-ins: #f3f4f0;
$color__background-meta: #f3f4f0;

$color__text-screen: #000;
$color__text-input: #fff;
$color__text-input-focus: #fff;
$color__link: #000;
$color__link-visited: #000;
$color__link-hover: #b50d0d;
$color__text-main: #000;
$color__text-menu: #fff;

$color__border-button: #ebebeb;
$color__border-button-hover: #b50d0d;
$color__border-button-focus: #aaa;
$color__border-input: #f6f6f6;
$color__border-abbr: #666;

