/**
 * Products
 */

.site-content{
    margin-top: 100px;
   #primary {
        float: left;
        width: 75%;
        @media ( min-width: 992px ) {
            margin-left: 30px;
        }
    }

    #secondary {
        float: left;
        width: calc( 25% - 30px );
    }
}
    
.products {
    display: block;
    .product {
        float: left;
        margin-bottom: 30px;
        &:hover {
            .view-detail {
                opacity: 1;
                visibility: visible;
            }
        }
        .restaurant_product_link_open {
            position: relative;
            float: left;
            margin-right: 30px;
            .onsale {
                position: absolute;
                top: 5px;
                left: 10px;
                padding: 0 5px;
                border-radius: 5px;
                background-color: #fff;
            }
            img {
                display: block;
            }
        }
            
        .view-detail {
            position: absolute;
            visibility: hidden;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            opacity: 0; 
            background-color: rgba(195,145,125,0.7);
            display: flex;
            align-items: center;
            justify-content: center;
            
            .text-view {
                margin-top: 100px;
                color: #fff;
            }
            &:before {
                content: '';
                width: 1px;
                height: 60px;
                background-color: #fff;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateY( -50% );
            }
            &:after {
                content: '';
                width: 60px;
                height: 1px;
                background-color: #fff;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX( -50% );
            }
        }

        .restaurant-product-info {
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            .woocommerce-loop-product__title {
                margin-top: 15px;
            }
            .short-description {
                margin: 20px 0;
            }

            .star-rating {
                span:before {
                    color: #c3917d;
                }
            }

            .price {
                font-style: italic;
                display: inline-block;
                del {
                    margin-right: 15px;
                }
            }

            .button {
                border: 1px solid #c3917d;
                border-radius: 50px;
                background-color: #c3917d;
                padding: 5px 50px;
                color: #fff;
                text-transform: uppercase;

                &:hover{
                    background-color: transparent;
                    color: red;
                }
            }
        }
    }
}

/**
 * Product loops
 */
ul.products {
    clear: both;

    li.product {
        float: left;
        padding: 0;
        position: relative;
        width: 25%;
        margin-left: 0;
    }

    li.first {
        clear: both;
    }

    li.last {
        margin-right: 0;
    }
}

.woocommerce,
.woocommerce-page {
    ul.products {
        &.columns-1 {
            li.product {
                width: 100%;
                margin-right: 0;
            }
        }
        &.columns-2 {
            li.product {
                width: 48%;
            }
        }
        &.columns-3 {
            li.product {
                width: 30.75%;
            }
        }
        &.columns-5 {
            li.product {
                width: 16.95%;
            }
        }
        &.columns-6 {
            li.product {
                width: 13.5%;
            }
        }
    }

    &.columns-1 {
        ul.products {
            li.product {
                width: 100%;
                margin-right: 0;
            }
        }
    }

    &.columns-2 {
        ul.products {
            li.product {
                width: 48%;
            }
        }
    }

    &.columns-3 {
        ul.products {
            li.product {
                width: 30.75%;
            }
        }
    }

    &.columns-5 {
        ul.products {
            li.product {
                width: 16.95%;
            }
        }
    }

    &.columns-6 {
        ul.products {
            li.product {
                width: 13.5%;
            }
        }
    }
}

.woocommerce-pagination {
    display: block;
    clear: both;
    line-height: 20px;
    .page-numbers {
        float: right;
        li {
            display: inline-block;
        }
    }
}

// full-sidebar css
.full-sidebar {
    @media (min-width: 992px) {
        .site-content .container #primary {
            margin-left: 0;
            width: 100%;
        }
    }
}

// right-sidebar css
.right-sidebar {
    @media (min-width: 992px){
        .site-content #primary {
            margin-left: 0;
            margin-right: 30px;
        }
    }
}

// left-sidebar css
.left-sidebar {
    @media (min-width: 992px) {
        .site-content .container #primary {
            margin-left: 0;
            float: right;
        }
        
        .site-content .container #secondary {
            margin-right: 30px;
        }
    }
}

// single add to cart button.
.single_add_to_cart_button,
.add_to_cart_button {
    &:before{
        content: "\f217";
        font-family: 'FontAwesome';
        margin-right: 10px;
    }
}

@media ( max-width: 991px ) {
    .site-content{
        margin-top: 100px;
       #primary {
            float: left;
            width: 100%;
            @media ( min-width: 992px ) {
                margin-left: 30px;
            }
        }

        #secondary {
            float: left;
            width: 100%;
        }
    }

    .products .product .restaurant-product-info {
        display: block;
    }
}